<!-- <table class="table table-striped">  
    <thead>  
        <tr>  
          <th>id</th>  
          <th>name</th>  
          <th>email</th>
          <th>phone</th>
          <th>username</th>
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let user of users">  
        <td>{{ user.id }}</td>  
        <td>{{ user.name }}</td>  
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.username }}</td>
      </tr>  
    </tbody>
  </table>   -->
  <header class="text-center">
    <div class="container">
      <h1 class="font-weight-light">Users</h1>
    </div>
    <section  class="team pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 text-center"  *ngFor="let user of users">
            <div class="box">
              <div class="avtar">
                <img src="../../assets/img_avatar.png" alt="" class="img-fluid">
              </div>
              <div class="box_content">
                <h3 class="title">User ID: {{ user.id }} | {{ user.username }}</h3>
                <span class="post">Name: {{ user.name }} <br> E-Mail: {{ user.email }}<br></span>
                <span class="post">Company: {{ user.company?.name }} <br> {{ user.company?.catchPhrase }}</span>
              </div>
              <div class="content">
                Address:  {{ user.address?.street + ',' + user.address?.suite 
                + ',' + user.address?.city + '-' + user.address?.zipcode }}
                Phone: {{ user.phone }}<br>
                Website: {{ user.website }}
              </div>
              <ul class="icons">
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-linkedin-square"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>