<!-- <table class="table table-striped">  
    <thead>  
        <tr>  
          <th>albumId</th>  
          <th>id</th>  
          <th>title</th>
          <th>completed</th>
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let todo of todos">  
        <td>{{ todo.userId }}</td>  
        <td>{{ todo.id }}</td>  
        <td>{{ todo.title }}</td>
        <td>{{ todo.completed }}</td>
      </tr>  
    </tbody>  
  </table>   -->
  <header class="text-center">
    <div class="container">
      <h1 class="font-weight-light">Todos</h1>
    </div>
    <section  class="team pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 text-center"  *ngFor="let todo of todos">
            <div class="box">
              <div class="avtar">
                <img src="../../assets/img_avatar.png" alt="" class="img-fluid">
              </div>
              <div class="box_content">
                <h3 class="title">Post ID: {{ todo.userId }} | ID: {{ todo.id }}</h3>
                <span class="post">Title: {{ todo.title }}</span>
              </div>
              <div class="content">
                Status : {{ todo.completed }} 
              </div>
              <ul class="icons">
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-linkedin-square"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>