<div class="topnav">
    <input type="text" placeholder="Search.." [(ngModel)]="value"/>
    
  </div>

<!-- Side navigation -->
<div class="sidenav">
    <a [routerLink]="['/posts',{foo:value}]">Posts</a>
    <a [routerLink]="['/comments',{foo:value}]">Comments</a>
    <a [routerLink]="['/albums',{foo:value}]">Albums</a>
    <a [routerLink]="['/photos',{foo:value}]">Photos</a>
    <a [routerLink]="['/todos',{foo:value}]">Todos</a>
  </div>
  
<!-- Page content -->
<div class="main">
    <router-outlet>
    </router-outlet>
</div>
  